<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-filter"></i> Cena</div>
        <div class="panel-body">
            <form class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">od</span>
                    <input type="text" class="form-control" placeholder="podaj wartość..." aria-describedby="sizing-addon2">
                   </div>
                <div class="clearfix"></div>
                     <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">do</span>
                        <input type="text" class="form-control" placeholder="podaj wartość..." aria-describedby="sizing-addon2">
                    </div>
            </form>
        </div>
    </div>
</div>
